[proj]
PROJECT_NAME = Neurodata
DEV_MODE = True
[aws]
REGION_NAME = us-east-1
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
[s3]
S3_CUBOID_BUCKET = neurodata-cuboid-store
S3_TILE_BUCKET = neurodata-tile-store
S3_DEV_ENDPOINT = http://localhost:4567
[dynamo]
DYNAMO_CUBOIDINDEX_TABLE = s3indexdb
DYNAMO_TILEINDEX_TABLE = tileindexdb
DYNAMO_DEV_ENDPOINT = http://localhost:8000
[sqs]
SQS_DEV_ENDPOINT = http://localhost:4568
[sns]
SNS_DEV_ENDPOINT = http://localhost:9292
[lambda]
LAMBDA_FUNCTION_LIST = cleanup, ingest, upload
[cuboid]
SUPER_CUBOID_SIZE = 512, 512, 64
[path]
BASE_PATH = ../..
NDLIB_PATH = ndlib
SPDB_PATH = spdb
